#CLIP  # timm?  # https://github.com/openai/CLIP
#faiss          # https://github.com/facebookresearch/faiss/wiki/Getting-started
# fire    # https://github.com/google/python-fire
#nlpaug         # https://github.com/makcedward/nlpaug
# flit
# black coverage flake8 mccabe mypy pylint pytest tox # build resources
#halo           # https://github.com/manrajgrover/halo - spinner majigs
#yaspin         # https://github.com/pavdmyt/yaspin - alternative spinner majigs
#rich           # https://github.com/willmcgugan/rich
#loguru
